<form class="profile-search-form" [formGroup]="searchForm">
  <label class="label-input-underline">
    <span class="label-input-underline_text">Имя</span>
    <input formControlName="firstName" type="text" class="input-underline" />
  </label>
  <label class="label-input-underline">
    <span class="label-input-underline_text">Фамилия</span>
    <input formControlName="lastName" type="text" class="input-underline" />
  </label>
  <label class="label-input-underline">
    <span class="label-input-underline_text">Навыки</span>
    <input formControlName="stack" type="text" class="input-underline" />
  </label>
</form>
