<img class="ml-16 mb-20" src="/assets/icons/big-logo.svg" alt="" />

<nav>
  <ul class="menu-list">
    @for(menuItem of menuItems; track menuItem.icon) {
    <a routerLinkActive="active" [routerLink]="menuItem.link" class="menu-list__item">
      <button class="menu-list__item__action">
        <svg [icon]="menuItem.icon"></svg>
        {{ menuItem.label }}
      </button>
    </a>
    }
  </ul>
</nav>

<p>Подписчики</p>

@for(profile of subscribers$ | async; track profile.id) {
<app-subscriber-card [profile]="profile"></app-subscriber-card>
}

<div class="mt20 to-subscribers">
  <a [routerLink]="['/subscribers']" class="to-subscribers__link medium-text">
    Все подписчики
  </a>
  <svg class="to-subscribers__icon" icon="arrow-right"></svg>
</div>


<footer class="footer-sidebar">
  @if(me(); as me) {
    <img [src]="me.avatarUrl | imgUrl" alt="">
    <div class="footer-sidebar__username">{{me.username}}</div>
    <a class="footer-sidebar__settings" [routerLink]="['settings']">
      <svg  icon="settings"> </svg>
    </a>
   
  }
</footer>